name: Deploy to server

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up SSH key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SSH_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H ${{ secrets.HOST }} >> ~/.ssh/known_hosts

    - name: Build Docker image
      run: |
        docker build -t registry.gaeni.org/kambing/ai:latest .
        docker push registry.gaeni.org/kambing/ai:latest

    - name: Deploy to Docker Swarm
      run: |
        scp docker-compose.yml ${{ secrets.USER }}@${{ secrets.HOST }}:~/kambing-deploy.yml
        ssh ${{ secrets.USER }}@${{ secrets.HOST }} "export OPENAI_API_KEY='${{ secrets.OPENAI_API_KEY }}' && export GROQAPI_KEY='${{ secrets.GROQAPI_KEY }}' && export TAVILYAPI_KEY='${{ secrets.TAVILYAPI_KEY }}' && docker stack deploy -c ~/kambing-deploy.yml aikambing"
