name: CI/CD Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: [self-hosted, Linux, X64]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t bandung:5000/kambingku-ai/ai:latest1 .
          docker push bandung:5000/kambingku-ai/ai:latest1

      - name: Run docker-compose
        run: |
          export "OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }}" 
          export "OPENAI_MODEL_NAME=gpt-4o" 
          export "SERPER_API_KEY=${{ secrets.SERPER_API_KEY }}" 
          export "TAVILYAPI_KEY=${{ secrets.TAVILYAPI_KEY }}"
          export "GROQ_API_KEY=${{ secrets.GROQ_API_KEY }}"

          docker stack deploy -c docker-compose.yml kambingku-ai